* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome6Free, Mononoki Nerd Font, SymbolsNerdFont;
  font-size: 12px;
  min-height: 0px;
}

window#waybar {
  background-color: rgba(28, 32, 33, 0);
  color: white;
}

#workspaces,
#mode {
  background: #282828;
  border-radius: 12px;
  margin-left: 10px;
  border: 1px solid #282828;
}

#workspaces {
  font-weight: bold;
  margin-top: 10px;
  padding-left: 0px;
  padding-bottom: 1px;
}

#workspaces button {
  padding: 2px;
  background: #282828;
  color: white;
  border-radius: 12px;
  border-top: 2px solid transparent;
}

#workspaces button.active {
  color: #d65d0e;
}

#workspaces button.focused {
  color: #c9545d;
}

#workspaces button:hover {
  padding: 0 2px;
  color: #d79921;
  background: #504945;
  border-radius: 12px;
}

#mode {
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#pulseaudio,
#tray,
#mode,
#custom-wall,
#idle_inhibitor,
#custom-media,
#backlight,
#language,
#custom-audio_idle_inhibitor,
#custom-weather,
#custom-logo,
#custom-scratchpad_indicator,
#custom-powermenu {
  padding: 3px 10px;
  margin: 3px 2px;
  margin-top: 10px;
  color: #fbf1c7;
  background: #282828;
  border: 1px solid #282828;
  border-radius: 12px;
}

#custom-powermenu {
  font-size: 14px;

}

#custom-logo {
  color: #f53c3c;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#tray:hover,
#mode:hover,
#custom-wall:hover,
#idle_inhibitor:hover,
#custom-media:hover,
#backlight:hover,
#language:hover,
#custom-audio_idle_inhibitor:hover,
#custom-scratchpad_indicator:hover,
#custom-powermenu:hover {
  background: #d65d0e;
}

#battery icon {
  color: red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-media,
#custom-weather {
  border-radius: 12px;
}

#custom-weather {
  color: #fbf1c7;
  background: #282828;
  border: 1px solid #282828;
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio-slider slider {
  min-height: 10px;
  min-width: 2px;
  background-color: #458588;
  border-radius: 8px;
  box-shadow: none;
}

#pulseaudio-slider trough,
#pulseaudio-slider highlight {
  min-height: 5px;
  min-width: 100px;
  border-radius: 5px;
}

#pulseaudio-slider trough {
  background-color: #7c6f64;
}

#pulseaudio-slider highlight {
  min-height: 3px;
  min-width: 50px;
  background-color: #665c34;
}
